<link rel="stylesheet" href="/css/profile.css">
{{#if loggedIn}}
<header class="showHeader">
    <a class="bottom-0 center" href="/"><h2 class="text-4xl font-extrabold dark:text-white">Fitness Blog</h2></a>
    <div class="row">
    <a href="/create">Create Post</a>
    <a id="logout" href="/">Log Out</a>
    </div>
</header>

<h4 class="text-4xl font-bold dark:text-white">Hello, {{ user.first_name }}!</h4>
{{#if posts }}
<h2 class="text-2xl">Your Posts</h2>
<section>
  {{#each posts}}
    <article class="post-article" id="{{ this.id }}">
        <div id="title-header">
            <h2 class="pink title">{{this.title}}</h2>
            <p class="delete-btn">X</p>
        </div>
            <p>{{this.text}}</p>
    </article>
  {{/each}}
</section>
{{else}}
<a href="/create">Create a Post</a>
{{/if}}

{{#if comments}}
<h2 class="text-2xl">Your Comments</h2>
<section>
  {{#each comments}}
    <article class="post-article" id="{{ this.id }}">
        <div id="title-header">
            <h2 class="pink title">{{this.title}}</h2>
            <p class="delete-btn-comment">X</p>
        </div>
            <p>{{this.text}}</p>
    </article>
  {{/each}}
</section>
{{/if}}




{{ else }}

<p>Please <a href="/login">log in</a> or <a href="/login">create an account</a></p>
{{/if}}

<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>