<link rel="stylesheet" href="/css/singlePost.css">
<section>
    <article class="post-article" id="{{ post.id }}">
        <div id="title-header">
            <h2 class="pink title">{{post.title}}</h2>
        </div>
            <p>{{post.text}}</p>
    </article>
    {{#if loggedIn}}
    <article>
        <h2>Share your thoughts</h2>
        <form>
    
            <input id="commentText" placeholder="Add comment">
            <input type="submit">
        </form>
    </article>
        {{ else }}
    <article>
        <h2>Share your thoughts</h2>
        <p>Log in to add a comment</p>
    </article>  
    {{/if }}

    <section>
        {{#each comments}}
        <div class="container">
            <p class="comment">{{ this.text }}</p>
        </div>
        {{/each}}
    </section>

</section>

<a class="center" href="/"><p>Home<p2></a>

<script src="/js/singlePost.js"></script>