<link rel="stylesheet" href="/css/singlePost.css">
<section>
    <article class="post-article" id="{{ post.id }}">
        <div id="title-header">
            <h2 class="text-4xl font-bold title">{{post.title}}</h2>
        </div>
            <p>{{post.text}}</p>
    </article>
    {{#if loggedIn}}
    <article>
        <h2>Share your thoughts</h2>
        <form class="row">
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline stacked space-below" id="commentText" placeholder="Add comment">
            <input type="submit">
        </form>
    </article>
        {{ else }}
    <article>
        <h2>Share your thoughts</h2>
        <p>Log in to add a comment</p>
    </article>  
    {{/if }}

    <section>
        {{#each comments}}
        <div class="container">
            <p class="comment padding">{{ this.text }}</p>
        </div>
        {{/each}}
    </section>
    
</section>

<script src="/js/singlePost.js"></script>