<section>
    <article class="post-article" id="{{ post.id }}">
        <div id="title-header">
            <h2 class="pink title">{{post.title}}</h2>
            <p class="delete-btn">X</p>
        </div>
            <p>{{post.text}}</p>
    </article>
    {{#if loggedIn}}
    <article>
        <h2>Share your thoughts</h2>
        <form>
    
            <input id="commentText" placeholder="Add comment">
            <input type="submit">
        </form>
    </article>

    <section>
        {{#each comments}}
            <div class="comment">{{ this.text }}</div>
        {{/each}}
    </section>
    {{ else }}
    <article>
        <h2>Share your thoughts</h2>
        <p>Log in to add a comment</p>
    </article>  
    {{/if }}
</section>

<a href="/"><h2>Home</h2></a>

<script src="/js/singlePost.js"></script>